VPS_DATABASE_URL=postgresql://postgres:postgres@db:5432/pgdb?schema=public

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pgdb
POSTGRES_HOST=db

SAMPLE_USER_EMAIL=ytaro@mail.com

GITHUB_OWNER=
GITHUB_REPO=
GITHUB_TOKEN=